{% load static %}
<html>
    <head>
        <script src="{% static 'include.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel=stylesheet href="{% static 'w3.css' %}">
        <title>Contest details</title>
    </head>
    <body>
        <img src="{%static "acm_logo_final.png"%}" style="width:12%;padding-top:10px;float:left"></img>
        <img src="{%static "preloader.png"%}" style="width:8%;padding-top:10px;float:right"></img>
        <div class="w3-white w3-card-8 w3-padding-16 w3-center">
            <h1 style="font-family: Georgia, serif;padding-left:180px"><b>CODE-A-TON</b></h1>
        </div>
        <center>
            <form method="post">
                <button class="w3-btn w3-round w3-hover-grey">Create Question</button>
            </form>
        </center>
        <div style="margin-top:48px">
            <table class="w3-border w3-table w3-center w3-striped" style="width:70%" align="center">
            <tr>
                <td><b>S. no</b></td>
                <td><b>Question Code</b></td>
                <td><b>Score</b></td>
            </tr>
            {% for question in questions %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ question.question_code }}</td>
                <td>{{ question.question_marks }}</td>
            </tr>
            {% endfor %}
        </table>
        </div>
    </body>
    <script>

    </script>
</html>