{% load static %}
<html>
<style>
    .CodeMirror {
        border: 2px solid #000;
        margin:20px;
        width: 50%;
    }

</style>
<head>
    <meta charset="utf-8"/>
    <link rel=stylesheet href="{% static 'codemirror2/lib/codemirror.css' %}">
     <link rel=stylesheet href="{% static 'w3.css' %}">
    <script src="{% static 'codemirror2/lib/codemirror.js' %}"></script>
    <script src="{% static 'codemirror2/addon/edit/matchbrackets.js' %}"></script>

    <!--<script src="https://codemirror.net/doc/activebookmark.js"></script>-->

    <script src="{{ language }}"></script>

</head>
<body>
    <form name="editor" method="post">
         <center>
        {{ language_form }}
        </center>
        <div style="postion:absolute; left:1000px">
            {{ editor_form.textarea }}
        </div>
        <input onclick = "document.forms['editor'].submit()" type="submit" class="w3-btn w3-green" name='compile' value="compile">
        <input onclick = "document.forms['editor'].submit()" type="submit" class="w3-btn w3-green" name='validate' value="validate">
        <input onclick = "document.forms['editor'].submit()" type="submit" class="w3-btn w3-green" value="submit">
        <input onclick = "document.forms['editor'].submit()" type="submit" class="w3-btn w3-green" value="status">
    </form><br>
    <p>
        {{ output | safe}}
    </p>


</body>

</html>