{% load static %}
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel=stylesheet href="{% static 'codemirror2/lib/codemirror.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

         <link rel=stylesheet href="{% static 'w3.css' %}">
        <script src="{% static 'codemirror2/lib/codemirror.js' %}"></script>
        <script src="{% static 'codemirror2/addon/edit/matchbrackets.js' %}"></script>
        <style>
            .CodeMirror {
                border: 2px solid #000;
                margin-top:10px;
                width: 100%;
                height: 50%;
            }
            div#demo {
            padding:10px;
              font-size: 20px;
              float : right;
            }
            span#h,#m,#s
            {
                padding:7px;
                color : #fff!important;background-color:#565656!important;
            }
        </style>
        <!--<script src="https://codemirror.net/doc/activebookmark.js"></script>-->

        <script src="{{ language }}"></script>

    </head>
    <body>
    <img src="{%static "acm_logo_final.png"%}" style="width:12%;padding-top:10px;float:left"></img>
        <img src="{%static "preloader.png"%}" style="width:8%;padding-top:10px;float:right"></img>
        <div class="w3-white w3-card-8 w3-padding-16 w3-center">
            <h1 style="font-family: Georgia, serif;padding-left:180px"><b>CODE-A-TON</b></h1>
        </div>
    <div>
        <form name="editor" method="post">
            <div class="w3-row">
              <div class="w3-col w3-container" style="width:20%;margin-top:100px">
                  <center>
                  <table>
                      <tr>
                      <div style="z-index:1500; margin-top:30px">
                            <span onclick="document.getElementById('q1').style.display='block'" class="w3-btn w3-round-large">Question 1</span>
                            <div id="q1" class="w3-modal" style="z-index:100">
                                <div class="w3-modal-content w3-animate-top w3-card-8">
                                    <header class="w3-container w3-teal">
                                        <span onclick="document.getElementById('q1').style.display='none'"
                                        class="w3-closebtn">&times;</span>
                                        <h2>Modal Header</h2>
                                    </header>
                                    <div class="w3-container">
                                        <p>Some text..</p>
                                        <p>Some text..</p>
                                    </div>
                                    <footer class="w3-container w3-teal">
                                        <p>Modal Footer</p>
                                    </footer>
                                </div>
                            </div>
                      </div>
                      <div style="margin-top:30px">
                            <span onclick="document.getElementById('q2').style.display='block'" class="w3-btn w3-round-large">Question 2</span>
                            <div id="q2" class="w3-modal" style="z-index:100">
                                <div class="w3-modal-content w3-animate-top w3-card-8">
                                    <header class="w3-container w3-teal">
                                        <span onclick="document.getElementById('q2').style.display='none'"
                                        class="w3-closebtn">&times;</span>
                                        <h2>Modal Header</h2>
                                    </header>
                                    <div class="w3-container">
                                        <p>Some text..</p>
                                        <p>Some text..</p>
                                    </div>
                                    <footer class="w3-container w3-teal">
                                        <p>Modal Footer</p>
                                    </footer>
                                </div>
                            </div>
                      </div>
                      </tr>
                      <tr>
                      <div style="margin-top:30px">
                            <span onclick="document.getElementById('q3').style.display='block'" class="w3-btn w3-round-large">Question 3</span>
                            <div id="q3" class="w3-modal" style="z-index:100">
                                <div class="w3-modal-content w3-animate-top w3-card-8">
                                    <header class="w3-container w3-teal">
                                        <span onclick="document.getElementById('q3').style.display='none'"
                                        class="w3-closebtn">&times;</span>
                                        <h2>Modal Header</h2>
                                    </header>
                                    <div class="w3-container">
                                        <p>Some text..</p>
                                        <p>Some text..</p>
                                    </div>
                                    <footer class="w3-container w3-teal">
                                        <p>Modal Footer</p>
                                    </footer>
                                </div>
                            </div>
                      </div>
                      <div style="margin-top:30px">
                            <span onclick="document.getElementById('q4').style.display='block'" class="w3-btn w3-round-large">Question 4</span>
                            <div id="q4" class="w3-modal" style="z-index:100">
                                <div class="w3-modal-content w3-animate-top w3-card-8">
                                    <header class="w3-container w3-teal">
                                        <span onclick="document.getElementById('q4').style.display='none'"
                                        class="w3-closebtn">&times;</span>
                                        <h2>Modal Header</h2>
                                    </header>
                                    <div class="w3-container">
                                        <p>Some text..</p>
                                        <p>Some text..</p>
                                    </div>
                                    <footer class="w3-container w3-teal">
                                        <p>Modal Footer</p>
                                    </footer>
                                </div>
                            </div>
                      </div>
                      </tr>
                      <tr>
                      <div style="margin-top:30px">
                            <span onclick="document.getElementById('q5').style.display='block'" class="w3-btn w3-round-large">Question 5</span>
                            <div id="q5" class="w3-modal" style="z-index:100">
                                <div class="w3-modal-content w3-animate-top w3-card-8">
                                    <header class="w3-container w3-teal">
                                        <span onclick="document.getElementById('q5').style.display='none'"
                                        class="w3-closebtn">&times;</span>
                                        <h2>Modal Header</h2>
                                    </header>
                                    <div class="w3-container">
                                        <p>Some text..</p>
                                        <p>Some text..</p>
                                    </div>
                                    <footer class="w3-container w3-teal">
                                        <p>Modal Footer</p>
                                    </footer>
                                </div>
                            </div>
                      </div>
                      </tr>
                  </table>
                  </center>
              </div>
              <div class="w3-col w3-container" style="width:60%">
                  <div style="margin-top:60px">
                    <input onclick = "document.forms['editor'].submit()" type="submit" class="w3-btn w3-blue" name='compile' value="Compile">
                    <input onclick = "document.forms['editor'].submit()" type="submit" class="w3-btn w3-blue" name='validate' value="Validate">
                    <input onclick = "document.forms['editor'].submit()" type="submit" class="w3-btn w3-blue" value="Submit">
                    <input onclick = "document.forms['editor'].submit()" type="submit" class="w3-btn w3-blue" value="Status">
                      <div id="demo">
                    <span id="h"></span>
                          <span>:</span>
                      <span id="m"></span>
                          <span>:</span>
                      <span id="s"></span>
                          </div>
                      <br>
                    {{ editor_form.textarea }}

                  </div>
                  <div style="border: 2px solid #000;margin-top:30px">
                      {{ output | safe}}
                  </div>
              </div>
              <div class="w3-col w3-container" style="width:20%;padding-left:30px;margin-top:130px">
                  {{ language_form | safe}}
              </div>
            </div>
        </form><br>
        <p>

        </p>
    </div>
        <script>
            //Set the date we're counting down to
            Date.prototype.addHours = function(h) {
               this.setTime(this.getTime() + (h*60*60*1000));
               return this;
            }
            var countDownDate = new Date().addHours(4);

            // Update the count down every 1 second
            var x = setInterval(function() {

                // Get todays date and time
                var now = new Date().getTime();

                // Find the distance between now an the count down date
                var distance = countDownDate - now;

                // Time calculations for days, hours, minutes and seconds
                var hours = "" + Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = "" + Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = "" + Math.floor((distance % (1000 * 60)) / 1000);

                // Output the result in an element with id="demo"
                pad="00";
                document.getElementById("h").innerHTML = pad.substring(0, pad.length - hours.length) + hours;
                document.getElementById("m").innerHTML = pad.substring(0, pad.length - minutes.length) + minutes;
                document.getElementById("s").innerHTML = pad.substring(0, pad.length - seconds.length) + seconds;

                // If the count down is over, write some text
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("demo").innerHTML = "EXPIRED";
                }
            }, 1000);

            languagebox = document.getElementById("id_language");
            languagebox.className+="w3-select";
        </script>
    </body>
</html>