{% load static %}
<html>
<style>
    .CodeMirror {
        border: 2px solid #000;
        margin:20px;
    }

</style>
<head>
    <meta charset="utf-8"/>
    <link rel=stylesheet href="{% static 'codemirror2/lib/codemirror.css' %}">
    <script src="{% static 'codemirror2/lib/codemirror.js' %}"></script>
    <script src="{% static 'codemirror2/addon/matchbrackets.js' %}"></script>

    <!--<script src="https://codemirror.net/doc/activebookmark.js"></script>-->

    <script src="{{ language }}"></script>

</head>
<body>
    <form method="post">
        {{ txtarea }}
        <input type="submit" value="submit">
    </form><br>
    <p>
        {{ output }}
    </p>


</body>

</html>