{% load static %}
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

         <link rel=stylesheet href="{% static 'w3.css' %}">
        <style>
            .question {
                padding:8px;
                margin-left:30px;
            }
            .w3-oxblood,.w3-hover-oxblood:hover{color:#fff!important;background-color:#76323f!important}
            span#h,#m,#s
            {
                padding:7px;
                color : #fff!important;
            }
        </style>
    </head>
    <body>
    <img src="{%static "acm_logo_final.png"%}" style="width:12%;padding-top:10px;float:left"></img>
        <img src="{%static "preloader.png"%}" style="width:8%;padding-top:10px;float:right"></img>
        <div class="w3-white w3-card-8 w3-padding-32 w3-center">
            <h1 style="font-family: Georgia, serif;padding-left:180px"><b>CODE-A-TON</b></h1>
        </div>
        <div class="w3-bar w3-black">
            <a href="#"  style="width:20%" class="w3-bar-item w3-button w3-center"> <div class="w3-center" id="timer">
                         <span id="h"></span>
                         <span>:</span>
                         <span id="m"></span>
                         <span>:</span>
                         <span id="s"></span>
                    </div></a>
            <a href="questions" style="width:20%" class="w3-bar-item w3-button w3-center">
                All Questions
            </a>
            <a href="leaderboard" style="width:20%" class="w3-bar-item w3-button">Leaderboard</a>
            <a href="change_password" style="width:20%" class="w3-bar-item w3-button">Change Password</a>
            <a href="logout" style="width:20%" class="w3-bar-item w3-button">Logout</a>
        </div>

    <div class="w3-responsive w3-row">
        <div class="w3-col" style="width:70%">
            <h1 class="w3-center w3-margin ">Questions</h1>
            {% for question in questions %}
                <div style="margin-top:32px; margin-bottom:16px" class="w3-card-4 question">
                    <div style="margin-top:32px; margin-bottom:16px">
                       <table style="table-layout:fixed" class="w3-table">
                           <tr>
                               <td colspan="4" class="w3-text-blue">
                                   {{ question.question_text }}
                               </td>
                               <td></td>
                           </tr>
                           <tr><td colspan="5"><br></td></tr>
                           <tr>
                               <td>Max Marks : {{ question.question_marks }}</td>
                                   <div style="width:100%">
                                       <td colspan="2" class="w3-center">
                                            <div class="w3-blue w3-round" style="height:24px;width:{{ status|get_item:question.question_code }}%"><center>{{ status|get_item:question.question_code }}%</center></div>
                                       </td>
                                   </div>
                               <td></td>
                               <td>
                                   <input onclick="submit('{{ question.question_code }}')" type="submit" class="w3-btn w3-blue w3-hover-green w3-round" value="Solve Question">
                               </td>
                           </tr>
                       </table>
                    </div>
                </div>

            {% endfor %}


        </div>
    </div>
    <form name="choose_ques" method="get" action="main_ques">
        <input name="qid" id="qid" type="hidden" value="aaa"/>
    </form>
    <script>
        function submit(ques_code){
            var form = document.forms['choose_ques']
            var input = document.getElementById('qid')
            input.value = ques_code
            form.submit()
        }
    </script>
    <script>
        var countDownDate = new Date("{{time}}");

        var x = setInterval(function() {
            var now = new Date().getTime();
            var distance = countDownDate - now;
            var hours = "" + Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = "" + Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = "" + Math.floor((distance % (1000 * 60)) / 1000);

            pad="00";
            document.getElementById("h").innerHTML = pad.substring(0, pad.length - hours.length) + hours;
            document.getElementById("m").innerHTML = pad.substring(0, pad.length - minutes.length) + minutes;
            document.getElementById("s").innerHTML = pad.substring(0, pad.length - seconds.length) + seconds;

            if (distance < 0) {
                clearInterval(x);
                document.getElementById("timer").innerHTML = "EXPIRED";
            }
        }, 1000);

        languagebox = document.getElementById("id_language");
        languagebox.className+="w3-select";
    </script>
    </body>
</html>