{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel=stylesheet href="{% static 'w3.css' %}">
    </head>
    <body>
        <img src="{%static "acm_logo_final.png"%}" style="width:12%;padding-top:10px;float:left"></img>
        <img src="{%static "preloader.png"%}" style="width:8%;padding-top:10px;float:right"></img>
        <div class="w3-white w3-card-8 w3-padding-32 w3-center">
            <h1 style="font-family: Georgia, serif;padding-left:180px"><b>CODE-A-TON</b></h1>
        </div>
        <div class="w3-card-32 w3-margin">
            <h4>1. Registration : </h4>
            <p><img style="float:right" width="500px" height="200px" src="{%static "registration.png"%}">
                The registration process can be carried out by clicking on the registration button in the home page. A modal opens
                up asking for your team name and password to create an account to you.
            </p>
        </div>
    </body>
</html>